{% extends 'index.html' %}

{% load static %}

{% block titulo %} Visit Mendoza - Login {% endblock titulo %}

{% block titulo_body %} 
    <h1> @VisitMendoza </h1>
    <h3> Inicio de Sesión </h3>
{% endblock titulo_body %}

{% block search %}

{% endblock search %}

{% block contenido %}

<form action="{% url 'AppAccounts:login' %}" method="POST"> {% csrf_token %} 

    <table> 
        {{ form.as_table }}
    </table>
    <br>
    <input type="submit" class="btn btn-primary" value="Iniciar Sesión">
    <br>
    No tengo usuario -->> <a href="{% url 'AppAccounts:register' %}">Registrarme</a>
    <br>
</form>

{{ mensaje }}

{% endblock contenido %}