{% extends 'index.html' %}

{% load static %}

{% block titulo %} Visit Mendoza - Eliminar Post {% endblock titulo %}

{% block titulo_body %} 
    <h1> @VisitMendoza </h1>
    <h3> Eliminar Post </h3>
{% endblock titulo_body %}

{% block search %}

{% endblock search %}

{% block contenido %}

<form method="post">{% csrf_token %}
    Confirma que deseas eliminar el Post "{{ object }}"? <br>
    <input type="submit" class="btn btn-danger" value="Si">
    <a class="btn btn-primary text" onclick="history.back()">No, volver</a>

</form>


{% endblock contenido %}