{% extends 'index.html' %}

{% load static %}

{% block titulo %} Visit Mendoza - {{ post.title }} {% endblock titulo %}


{% block titulo_body %} 
    <h1> Posts de {{ post.category }} </h1>
    <h3> {{ post.description }} <h3>
    <h5> Por {{ post.autor }} </h5>
{% endblock titulo_body %}

{% block contenido %}

    {{ post.content | safe }}

    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" onclick="history.back()">Volver →</a>
        
{% endblock contenido %}