{% extends 'index.html' %}

{% load static %}

{% block titulo %} Visit Mendoza - Editar Post {% endblock titulo %}

{% block titulo_body %} 
    <h1> @VisitMendoza </h1>
    <h3> Editar Post </h3>
{% endblock titulo_body %}

{% block img %}

{% endblock img %}

{% block search %}

{% endblock search %}

{% block contenido %}

<h5> Editar Post </h5>
<br>
<form method="post">{% csrf_token %}
    {{ form.media }}
    <ul class="list-group">
        <tr>
            <td> {{ form.title.label_tag }} </td>
            <td> {{ form.title }} </td>
            <td> {{ form.slug.label_tag }} </td>
            <td> {{ form.slug }} </td>
            <td> {{ form.description.label_tag}} </td>
            <td> {{ form.description }} </td>
            <td> {{ form.content.label_tag }} </td>
            <td> {{ form.content }} </td>
            <td> {{ form.image.label_tag }} </td>
            <td> {{ form.image }} </td>
            <td> {{ form.category.label_tag }} </td>
            <td> {{ form.category }} </td>
            <td> {{ form.autor.label_tag }} </td>
            <td> {{ form.autor }} </td>
        </tr>
    </ul>
        <br>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-primary text" onclick="history.back()">Salir sin Guardar</a>
    
</form>


{% endblock contenido %}