{% extends 'index.html' %}

{% load static %}

{% block titulo %} Visit Mendoza - Editar Perfil {% endblock titulo %}

{% block titulo_body %} 
    <h1> @VisitMendoza </h1>
    <h3> Editar Perfil </h3>
{% endblock titulo_body %}

{% block search %}

{% endblock search %}

{% block contenido %}

<form action="{% url 'AppAccounts:profile' %}" method="POST"> {% csrf_token %} 

    Bienvenido {{ user.username }} 
    <br>
    <br>
    <table> 
        {{ form.as_table | safe }}
    </table>
    <br>
    
    <input type="submit" class="btn btn-primary" value="Guardar">
    <a class="btn btn-primary text" onclick="history.back()">Salir sin Guardar</a>


</form>

{% endblock contenido %}